.heading{
    text-align: center;
    margin: 0;
    padding-top: 20px;
}
.title{
    margin: 0;
    color: #66fcf1;
    font-family: 'Sedgwick Ave Display', cursive;
    letter-spacing: 10px;
    font-size: 80px;
}

#root{
    background-image: url("../../public/textured3.jpg");
    background-size: cover;
}
.body{
    width: 100%;
    text-align: center;
    padding: 20px;
}
.input-area{
    margin: 10px;
    width: 60%;
    font-size: 20px;
    padding: 10px;
    background-color: #c5c6c7;
    border-radius: 5px;
}
.btn{
    background-color: #45a29e;
    padding: 8px;
    font-size: 20px;
    width: 60%;
    color: white;
    border: none;
    font-weight: 600;
}
.btn:hover{
    background-color: #66fcf1;
    color: #2f2f2f;
}
.text-area{        
    word-spacing: 2px;
    padding: 10px;
    font-size: 25px;
    text-align: left;
    margin: auto;
}
.outputArea{
    padding: 20px;
    margin: auto;
    width: 60%;
    border: 1px grey solid;
    border-radius: 5px;
    backdrop-filter: blur(7px);
    min-height: 60vh;
}
h3{
    text-align: center;
    color: white;
}
h4{
    color: white;
    margin: 0;
}
.myDetails{
    margin: auto;
    width: 50%;
    margin-top: 5px;
    border-top: 2px #45a29e dashed;
    padding: 20px;
}
.question{
    color: white;
    margin: 10px auto 0;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    width: 60%;
    font-size: 20px;
    font-weight: 600;
    background-color: #affdf869;
}
p{
    color: white;
    margin: 10px auto;
    padding: 5px;
    border: 2px solid #45a29e;
}
.youtube-video{
    width: 40%;
}
.desc{
    text-align: left;
    font-size: 30px;
    padding: 30px;
    letter-spacing: 5px;
}
.link-section{
    text-align: center;
    margin: auto;
}
.link{
    transition: transform .2s;
    text-decoration: none;
    color: #45a29e;
    padding: 5px;
    font-size: 20px;
}
.link:hover{
    transform: scale(1.25);
    color: white;
    /* background-color: #45a29e; */
}